---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
        <h1>Welcome to My Blog</h1>
        <p>Your daily dose of thoughts, ideas, and inspiration!</p>
        <p>What a tagline!</p>
        <h2>Hello, World!</h2>
        <p>Thank you for visiting my personal blog.
           Stay tuned for updates and stories that I hope will inspire and entertain you.</p>
        <p>Let's see if this update works</p>
        <p>gitcommit</p>
        <p>another change</p>
        <p>one more</p>
        <p>come on man!!</p>
        <p>change again</p>
</BaseLayout>