---
import Social from './Social.astro';
---

<style>
    footer ul {
        display: flex;
        list-style-type: none; /* Removes the bullet points */
        margin: 0;
        padding: 0;
        justify-content: space-between; /* Evenly spaces out the links */
        width: 100%; /* Makes sure the footer takes the full width */
    }

    footer p ul li a {
        text-decoration: none; /* Optional: removes underlines from the links */
        color: red !important; /* Optional: set link color */
    }

    footer {
        display: flex; /* Set footer to flexbox */
        flex-direction: column; /* Stack content vertically */
        align-items: center; /* Center the content horizontally */
    }

</style>

<footer>
    <p>
        <ul>
            <Social platform="twitter" username="astrodotbuild" />
            <Social platform="github" username="withastro" />
            <Social platform="youtube" username="astrodotbuild" />
        </ul>
    </p>
    <p>&copy; 2025 My Personal Blog. All rights reserved.</p>
</footer>