---
import Social from './Social.astro';
---

<style>
    footer ul {
        display: flex;
        list-style-type: none; /* Removes the bullet points */
        margin: 0;
        padding: 0;
        justify-content: space-between; /* Evenly spaces out the links */
        width: 100%; /* Makes sure the footer takes the full width */
    }

    footer {
        display: flex; /* Set footer to flexbox */
        flex-direction: column; /* Stack content vertically */
        align-items: center; /* Center the content horizontally */
        text-align: center; /* Center the text */
    }

    #license {
        font-size: 70%;
    }

</style>

<footer>
    <p>
        <ul>
            <Social platform="twitter" username="astrodotbuild" />
            <Social platform="github" username="withastro" />
            <Social platform="youtube" username="astrodotbuild" />
        </ul>
    </p>
    <p>&copy; 2025 My Personal Blog. All rights reserved.</p>
    <div id="license">
    <p>This work is licensed under a</p>
    <p>
        <a href="https://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer">Creative Commons Attribution-NonCommercial 4.0 International License</p>
        <p><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="">
           <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="">
           <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1" alt=""></a></p> 
     <p>This work is licensed under <a href="https://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-NC 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1" alt=""></a></p> 
    </div>
</footer>