---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header>
    <Hamburger />
    <Navigation />
    <h1>Welcome to My Blog</h1>
    <p>Your daily dose of thoughts, ideas, and inspiration!</p>
    <p>What a tagline!</p>
</header>