---
import Navigation from "./Navigation.astro";
---

<header>
    <Navigation />
    <h1>This is the Header</h1>
    <p>Your daily dose of thoughts, ideas, and inspiration!</p>
    <p>What a tagline!</p>
</header>