---
import { NAV_LINKS } from '../consts';
---

<style>
    nav {
    }

    nav ul {
        display: flex;
        list-style-type: none; /* Removes the bullet points */
        margin: 0;
        padding: 0;
        justify-content: space-between; /* Evenly spaces out the links */
    }

    nav a {
        text-decoration: none; /* Optional: removes underlines from the links */
        color: red; /* Optional: set link color */
    }
</style>

<nav>
    <ul>
        <!--
            The NavigationLinks component is used to create the navigation links.
            The url and title are passed as props to the NavigationLinks
            component.
        -->
        {NAV_LINKS.map((link) => (
            <li><a href={link.url}>{link.title}</a></li>
        ))}
    </ul>
</nav>