---
---

<style>
    nav {
    }

    nav ul {
        display: flex;
        list-style-type: none; /* Removes the bullet points */
        margin: 0;
        padding: 0;
        justify-content: space-between; /* Evenly spaces out the links */
    }

    nav a {
        text-decoration: none; /* Optional: removes underlines from the links */
        color: red; /* Optional: set link color */
    }
</style>

<nav>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about/">This is About Me and What I am about</a></li>
    <li><a href="/blog/">Blog</a></li>
    </ul>
</nav>