---
---

<style>
    nav {
        /*color: red;*/
        /*background-color: yellow;*/
        /*padding: 1rem;*/
    }

    nav ul {
        display: flex;
        list-style-type: none; /* Removes the bullet points */
        margin: 0;
        padding: 0;
        justify-content: space-between; /* Evenly spaces out the links */
    }

    nav a {
        text-decoration: none; /* Optional: removes underlines from the links */
        color: red; /* Optional: set link color */
        /*padding: 0 1rem; /* Optional: adds space around links */
    }
</style>

<nav>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/blog/">Blog</a></li>
    </ul>
</nav>