---
/*
    This component takes parameters for the platform and username from
    Footer.astro and creates a link to the social media platform.
*/
const { platform, username } = Astro.props;
---
<style>
    li a {
        color: green;
    }
</style>

<li><a href={`https://www.${platform}.com/${username}`}>find me on {platform}</a></li>